# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=
DB_PORT=5432
# Para provedores PaaS (ex: Render, Railway, Heroku) você pode usar DATABASE_URL em vez das variáveis individuais
# Exemplo: postgres://user:password@host:5432/database
DATABASE_URL=

# Configurações da Aplicação
JWT_SECRET=
PORT=3000
NODE_ENV=development